/tmp\.*
/.sconsign.dblite
_*

/index.md

/apt-mirrors-info
/bring-random-branch
/dockerhub-set-descriptions
/docker-manifest-set-arch
/git-update-image-branches
/json-tmpl-render
/spurious-branches
/github-branch-workflow-run
/target
/.envrc
