{{ "#!/bin/bash" }}

set -e -x

{{ range $repo := . -}}
{{ if $repo.Version -}}
{{ range $a := $repo.Architectures -}}
{{ if (eq (stringsIndex $repo.Suite "-") -1) -}}
{{ $branch := (print ($repo.Origin | ToLower) "-" $repo.Codename "-" $a) -}}
git push -f origin HEAD:{{$branch}}
git push -f origin HEAD:{{$branch}}-minbase
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}

