docker-debian-releases
======================

The
[docker-debian-releases](https://github.com/lpenz/docker-debian-releases)
repository creates docker images of Debian-based system using
debootstrap, for various architectures, and uploads them to [docker
hub](https://hub.docker.com/r/lpenz/) using github actions.

The tables below detail the result of the latest build attempt, and
links to the image in [docker hub](https://hub.docker.com/r/lpenz/) if
the build was successful. The supported OS's are:

{{ $title := "" -}}
{{ range $_, $repo := .releaseInfos -}}
{{ if and (eq (stringsIndex $repo.Suite "-") -1) (ne $title $repo.Origin) -}}
- [{{$repo.Origin}}](#{{$repo.Origin | ToLower}})
{{ $title = $repo.Origin -}}
{{ end -}}
{{ end }}

Most of the errors are caused by:
- lack of support in qemu for the architecture;
- timeout when building the standard image (that's why minbase is also built);
- incompatibility with modern linux kernel.

{{ $title = "" }}
{{- $suffixes := mkSlice "" "-minbase" }}

{{- range $_, $repo := .releaseInfos }}
{{- if and (eq (stringsIndex $repo.Suite "-") -1) }}

{{- if ne $title $repo.Origin }}

{{- if ne $title "" }}
</tbody>
</table>
{{- end }}

{{- $title = $repo.Origin }}

### {{$repo.Origin}}

<table>
<thead>
<tr><th rowspan="2">Release</th><th rowspan="2">Version</th><th rowspan="2">Release date</th><th rowspan="2">Arch</th><th colspan="2">Variant status</th></tr>
<tr><th>standard</th><th>minbase</th></tr>
</thead>
<tbody>
{{- end }}

{{- range $a := $repo.Architectures }}
{{- if (eq (stringsIndex $a "-") -1) }}
<tr>
    <td>{{$repo.Codename}}</td><td>{{$repo.Version}}</td><td>{{$repo.Date}}</td><td>{{$a}}</td>
{{- range $suffix := $suffixes }}
{{- $branch := (print ($repo.Origin | ToLower) "-" $repo.Codename "-" $a $suffix) }}
    <td>
        <a href="https://hub.docker.com/r/lpenz/{{$branch}}">
            <!-- <img src="https://github.com/lpenz/docker-debian-releases/actions/workflows/ci.yml/badge.svg?branch={{$branch}}" /> -->
            <img src="https://img.shields.io/github/workflow/status/lpenz/docker-debian-releases/CI/{{$branch}}" />
        </a>
    </td>
{{- end }}
</tr>
{{- end }}
{{- end }}

{{- end }}
{{- end }}

</tbody>
</table>
