[![Build Status](https://img.shields.io/travis/com/lpenz/docker-debian-releases/master.svg?label=master)](https://travis-ci.com/lpenz/docker-debian-releases)


docker-debian-releases
======================

This repository creates docker images of Debian-based system using
debootstrap, for various architectures, and uploads them
to [docker hub](https://hub.docker.com/r/lpenz/) using travis.

The status of each combination is in the tables below:
- [Debian](#debian)
- [Raspbian](#raspbian)
- [Ubuntu](#Ubuntu)


## Organization

To avoid having to track the combinations of each distribution and
architecture manually, this repository gets the parameters of
debootstrap from the current branch name, and then scraps a list of
mirrors to figure out which ones to use. That way, to support a new
release, we have to simply push a new remote branch on top of HEAD.
The following scripts are in charge of this mechanism:
- [docker-create-debian-image](docker-create-debian-image): shell
  script that creates a docker image for a specific Debian or Ubuntu
  release, architecture and debootstrap variant.
- [travis-script.sh](travis-script.sh): script that transform a
  travis-ci environment into a call to docker-create-debian-image.


The README.md file (aka this file) is created offline, from
information obtained from scrapping all available mirrors and
travis-ci itself. The following scripts are in charge of this process:
- [apt-mirror-info](go/cmd/apt-mirror-info/main.go): scraps Debian
  and Ubuntu repositories and outputs a json with information about
  all releases it can find.
- [json-tmpl-render](go/cmd/json-tmpl-render/main.go): renders a
  template file with information from a json file.
- [travis-branch-jobs](go/cmd/travis-branch-jobs/main.go): scraps the
  build information form this repository form travis-ci, for all
  branches that corresponds to relases.
- [README.md.tmpl](README.md.tmpl): template for README.md that uses
  the information obtained by apt-mirror-info and travis-branch-jobs
  to create a table of images and status' with links to jobs.
- [SConstruct](SConstruct): scons script that builds the go sources
  and README.md.


Besides image building and deploying to
[docker hub](https://hub.docker.com), the [.travis.yml](.travis.yml)
file also performs static analysis, builds go sources and checks if
the README.md file is up-to-date.


## Image status

The tables below detail the result of the latest build attempt, and
links to the image in [docker hub](https://hub.docker.com/r/lpenz/) if
the build was successful.

The errors reported below are usually caused by:
- lack of support in qemu for the architecture;
- timeout when building the standard image (that's why minbase is also built);
- incompatibility with modern linux kernel.

{{ $title:="" -}}

{{ range $_, $repo := .releaseInfos -}}
{{ if (eq (stringsIndex $repo.Suite "-") -1) -}}

{{ if ne $title $repo.Origin -}}

{{ if ne $title "" -}}
</tbody>
</table>
{{ end -}}

{{ $title = $repo.Origin }}

### {{$repo.Origin}}

<table>
<thead>
<tr><th rowspan="2">Release</th><th rowspan="2">Version</th><th rowspan="2">Arch</th><th colspan="2">Variant status</th></tr>
<tr><th>standard</th><th>minbase</th></tr>
</thead>
<tbody>
{{ end -}}

{{ range $a := $repo.Architectures -}}
{{ if (eq (stringsIndex $a "-") -1) -}}
{{ $branch := (print ($repo.Origin | ToLower) "-" $repo.Codename "-" $a) -}}
{{ $build := (index $.branchBuilds $branch) -}}
<tr>
    <td>{{$repo.Codename}}</td><td>{{$repo.Version}}</td><td>{{$a}}</td>
    <td>
{{- if eq ($build.state) "passed" }}
        <a href="https://hub.docker.com/r/lpenz/{{$branch}}">
            <img alt="" src="https://img.shields.io/docker/pulls/lpenz/{{$branch}}.svg" />
        </a>
{{- else }}
        <a href="https://travis-ci.com/lpenz/docker-debian-releases/builds/{{$build.id}}">
            <img alt="" src="https://img.shields.io/travis/com/lpenz/docker-debian-releases/{{$branch}}.svg" />
        </a>
{{- end }}
    </td>
{{- $branch := (print ($repo.Origin | ToLower) "-" $repo.Codename "-" $a "-minbase") }}
{{- $build := (index $.branchBuilds $branch) }}
    <td>
{{- if eq ($build.state) "passed" }}
        <a href="https://hub.docker.com/r/lpenz/{{$branch}}">
            <img alt="" src="https://img.shields.io/docker/pulls/lpenz/{{$branch}}.svg" />
        </a>
{{- else }}
        <a href="https://travis-ci.com/lpenz/docker-debian-releases/builds/{{$build.id}}">
            <img alt="" src="https://img.shields.io/travis/com/lpenz/docker-debian-releases/{{$branch}}.svg" />
        </a>
{{- end }}
    </td>
</tr>
{{ end -}}
{{ end -}}

{{ end -}}
{{ end -}}

</tbody>
</table>

